.wrapper {
  background-color: #2F80ED;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;

  flex: 1 1 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: 600;
}

.homepage {
  margin-right: 0.5rem;
}

.description {
  margin-top: 1rem;
}

.topics {
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
}

.topics li {
  margin-right: 0.5rem;
}

.topics li:last-of-type {
  margin-right: 0;
}