.fields {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.field {
  flex: 1 1 calc(768px / 2 - 1rem);
}

.input {
  background-color: transparent;
  border: 1px #ffffff solid;
  border-radius: 5px;
  color: #ffffff;
  padding: 6px;
  width: 100%;
  margin-top: 6px;
  font-size: 16px;
}

.submitButton {
  background-color: #2f80ed;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  margin-top: 6px;
  padding: 12px 24px;
}
