.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.about {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .name {
  font-size: 36px;
  margin-bottom: 1rem;
  text-align: center;
}

.about .name span {
  color: #2F80ED;
  font-weight: 600;
}

.about .bio {
  margin-bottom: 2rem;
  text-align: center;
}

.about .social a {
  margin-right: 1rem;
}

.about .social a:last-of-type {
  margin-right: 0;
}

.showcase {
  margin-bottom: 4rem;
}

.showcase h1 {
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.showcase h1 span {
  color: #2f80ed;
  font-size: 90%;
}

.repos {
  margin-bottom: 4rem;
}

.repos h1 {
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.repos h1 span {
  color: #2f80ed;
  font-size: 90%;
}

.repos .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form {
  margin: auto;
  margin-top: 48px;
}

.formTitle {
  font-weight: 600;
  text-align: center;
}

.form {
  margin-bottom: 24px;
}
