.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.introducing {
  margin-top: 48px;
  text-align: center;
}

.introducingTitle {
  font-size: 24px;
  line-height: 1.2;
}

.introducingTitle span {
  font-size: 48px;
  font-weight: 700;
}

.introducingText {
  margin-top: 12px;
}

.repos {
  margin-bottom: 4rem;
}

.repos h1 {
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.repos h1 span {
  color: #2f80ed;
  font-size: 90%;
}

.repos .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form {
  margin: auto;
  margin-top: 48px;
}

.formTitle {
  font-weight: 600;
  text-align: center;
}

.form {
  margin-bottom: 24px;
}
