.container {
  width: 90%;
  max-width: 720px;
  margin: auto;
  padding: 48px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.content img {
  width: 100%;
}

.content pre {
  background-color:#f8f8f8;
  border-radius: 6px;
  padding: 16px;
  white-space: pre-line;
  word-break: break-word;
}

.backLink {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backLink a {
  font-weight: 600;
}

.backLink a:hover {
  text-decoration: none;
}

.backLinkIcon {
  margin-right: 6px;
}

.repoName {
  text-align: center;
}

.readme {
  margin: 24px 0;
}

.readme > * {
  margin-top: 12px;
}

.readme ul li::before {
  content: "• ";
  color: #111111;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button:nth-child(2)  {
  margin-left: 12px;
}

.button {
  display: flex;
  align-items: center;

  background-color: #8743CC;
  border: none;
  border-radius: 6px;
  color: white !important;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
}

.button:hover {
  background-color: #8f4fcf;
  text-decoration: none !important;
}

.buttonIcon {
  margin-right: 6px;
}
